/* Universal Styles */

html {
  font-size: 18px;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
}

input:focus {
  outline: none;
}

/* Reusable Component - Image Container */

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: #000;
}

.image-container img {
  width: 100%;
}

/* App Styles */

.App {
  height: 100%;
  padding: 0 17% 10% 17%;
  background-image: url('./background_photo_desktop.jpg');
  background-size: cover;
  background-position: no-repeat;
  font-family: 'Baloo Bhaina', cursive;
  font-weight: 500;
  color: #fff;
}

h1 {
  height: 100%;
  padding: .88rem 0;
  text-align: center;
  font-family: 'Baloo Bhaina', cursive;
  font-size: 1.88rem;
  color: #fff;
}

.center {
   margin: auto;
   position: absolute;
   width: 50%;
   border: black;
   padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: #111;
}

.active {
  background-color: #4CAF50
}


