.SearchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6.94rem;
  margin-bottom: 6.33rem;
  font-size: 3.00rem;
}


.SearchBar input {
  width: 1000px;
  padding: 1.88rem 0;
  border: 1px solid ;
  border-radius: 25px;
  margin-bottom: 3.22rem;
  color: #0b0c0c;
  text-align: center;
  font-size: 1rem;
}

.SearchBar input:focus {
  outline: none;
}

.SearchButton {
  cursor: pointer;
  width: 12.11rem;
  padding: .97rem 0;
  border-radius: 54px;
  background-color: #070505;
  text-align: center;
  font-size: 1.33rem;
  transition: background-color .25s;
  border: 0px;
  color: #f3f6f7;
  font-weight: 500;
}

.SearchButton:hover {
  background-color: #0c0c0c;
}